name: Auto label PRs

on:
  pull_request:
    types: [opened, reopened]

jobs:
  add-labels:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Add labels to PR
        uses: actions-ecosystem/add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: |
            ECWoC26
